html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ---------------------------------PROJECT CSS IS HERE ---------------------------------*/

/* Variables */
:root {
  --primary-color: #f97316;
  --icon-size: 18px;
  --padding-15: 15px;
  --color-light: white;
  --color-dark: black;
}

/* Set a container to wrap all the content */
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

/* Nav bar style is here */
.navbar {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.container-fluid {
  display: flex;
/*  padding: 0px 300px;*/
}

.navbar-nav {
  margin-left: auto;
}

#cart {
  font-size: var(--icon-size);
}

.nav-link:hover #cart:hover {
  color: var(--primary-color);
}

.nav-link {
  margin-right: 2px;
}

.navbar-brand {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.nav-item a {
  color: var(--color-dark);
}

.nav-item a:hover {
  color: var(--primary-color);
}

/* Basic container of main content */
.container {
  flex-grow: 1;
  width: 100%;
  padding: var(--padding-15);
}

/* Footer style */
footer {
  width: 100%;
  padding: var(--padding-15);
  background-color: #010134;
  color: var(--color-light);
}

footer ul {
  list-style-type: none;
}

footer i {
  font-size: 20px;
  padding-right: var(--padding-15);
}

.social-media {
  display: flex;
}

/* Index page style */
#index-page {
  color: var(--primary-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* Menu page style */
#paypal-button-container {
  max-width: 100px;
}

.material-symbols-outlined,
.nav-link span {
    vertical-align: middle;
    transition: background-color 0.2s ease;
}

.nav-link {
    position: relative; /* This is needed for absolute positioning of the circle */
}

.notification-circle {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black; /* Or any color you prefer */
    /*background-color: var(--primary-color);*/ /* Or any color you prefer */
    color: white;
    width: 20px; /* Adjust size as needed */
    height: 20px;
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Adjust as needed */
    transition: background-color 0.2s ease; 
    /*
    &:hover {
        background-color: var(--primary-color);  Or any color you prefer 
    }*/
}

.nav-link:hover .notification-circle {
    background-color: var(--primary-color);
}
