@model PaaS.ViewModels.ItemVM

@{
    ViewData["Title"] = "Delete Item";
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Confirm Item Deletion</h1>
    </div>
    <div class="row">
        <div class="p-input-grid mb-2">
            <div>Name</div>
            <div>@Model.Name</div>
        </div>
        <div class="p-input-grid mb-2">
            <div>Description</div>
            <div>@Model.Description</div>
        </div>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="ItemId" />
            <button type="submit" class="btn p-brand mt-2">Delete</button>
            <a class="btn btn-secondary ms-2 mt-2" asp-action="Index" asp-controller="Menu">Back to Menu</a>
        </form>
    </div>
</div>
