@{
    ViewData["Title"] = "Order Summary";
}

<div id="order-summary-page">
@* PayPal script *@
    <script
        src="https://www.paypal.com/sdk/js?client-id=AV_6P7OPZwXSofUX2pdD0J1qymbE6k7rESrelqzf_jndK35unvyHtUdYyp5b8NefZA6W5I3QW0qzv5c4&currency=CAD"></script>
    <div id="menu-page">
        <h1>@ViewData["Title"]</h1>
    @* Below is Paypal *@
        <div id="itemPrice" data-value="1.11">
            <span id="currency" data-value="CAD">1.11 CAD</span>
        </div>
        <div id="paypal-button-container"></div>
    </div>

    <script>
        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                // Retrieve the price and currency values from the data attributes
                const price = document.getElementById('itemPrice').getAttribute('data-value');
                const currency = document.getElementById('currency').getAttribute('data-value');

                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: price,
                            currency_code: currency
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Redirect to the PayPalConfirmation action method
                    window.location.href =
                        '/OrderSummary/PayPalConfirmation?TransactionId=' +
                        encodeURIComponent(details.id) + '&Amount=' +
                        encodeURIComponent(details.purchase_units[0].amount.value) +
                        '&PayerName=' +
                        encodeURIComponent(details.payer.name.given_name);
                });
            },

            onCancel: function (data) {
                alert('Transaction was cancelled.');
            },
            onError: function (err) {
                alert('An error occurred during the transaction.');
            },

            style: {
                layout: 'vertical',
                color: 'blue',
                shape: 'rect',
                label: 'paypal'
            }
        }).render('#paypal-button-container');
    </script>

</div>