@model PaaS.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = Model?.Email ?? string.Empty;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="p-grid-container">
    <div class="p-grid-item mb-2">
        <h1>Change Password</h1>
    </div>
    <div class="row">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="p-acct-grid mb-2">
                <label asp-for="CurrentPassword">Current Password</label>
                <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="p-acct-grid mb-2">
                <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Email" value="@email" />    


            <button type="submit" class="btn p-brand mt-2">Save Change</button>
            <a asp-action="MyAccount" class="btn btn-secondary ms-2 mt-2">Back to My Account</a>
        </form>
    </div>
</div>
