@model PaaS.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = Model?.Email ?? string.Empty;
}

<h1>
    Change Password
</h1>

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Current Password" />
        <label asp-for="CurrentPassword">Current Password</label>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New Password" />
        <label asp-for="NewPassword">New Password</label>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm New Password" />
        <label asp-for="ConfirmNewPassword">Confirm New Password</label>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Email" value="@email" />    
    <button id="changePasswordSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
</form>
